<h2>Order History</h2>

<div *ngIf="orders.length > 0">
  <ul>
    <li *ngFor="let order of orders">
      <div class="order-info">
        <div>
          <a href="javascript:void(0)" (click)="viewOrderDetails(order.order_id)">Order ID: {{ order.order_id }}</a>
        </div>
        <div>Order Status: {{ getStatusText(order.order_status) }}</div>
        <div>Date Placed: {{ formatDate(order.datePlaced) }}</div>
        <div class="actions">
          <button *ngIf="isAdmin && (order.order_status === 0)" (click)="updateOrderStatus(order.order_id, 1)">Complete Order</button>
          <button *ngIf="isAdmin && (order.order_status === 0)" (click)="updateOrderStatus(order.order_id, 2)">Cancel Order</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="orders.length === 0">
  <p>No orders found.</p>
</div>