

<div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
  
