.cart-heading {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-block {
  border: 1px solid #eeeeee;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #ffe6e6; /* light pink */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.product-block:hover {
  transform: scale(1.05);
}

.total-block {
  border: 1px solid #eeeeee;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ddfdff; /* another pink */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.quantity-button {
  background-color: #f2f2f2;
  border: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.right-section {
  align-self: flex-end;
  margin-top: 0.5rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.price {
  color: #777777;
  text-align: right;
}

.quantity {
  color: #555555;
  margin-top: 0.5rem;
  text-align: right;
}

.subtotal {
  color: #555555;
  margin-top: 0.5rem;
  text-align: right;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.purchase-button {
  padding: 0.5rem 1rem;
  background-color: #7927ca;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.empty-cart-message {
  margin-top: 1rem;
  color: #555555;
}
