<div *ngIf="cart && cart.items.length > 0">
    <h2>Cart</h2>
    <ul>
      <li *ngFor="let cartItem of cart.items">
        <div class="product-info">
          <div class="name">{{ cartItem.product.name }}</div>
          <div class="price">Price: ${{ cartItem.product.retail_price }}</div>
          <div class="quantity">Quantity: {{ cartItem.quantity }}</div>
          <div class="subtotal">Subtotal: ${{ cartItem.price }}</div>
        </div>
        <button (click)="removeFromCart(cartItem)">Remove</button>
      </li>
    </ul>
    <div class="total-price">Total Price: ${{ cart.totalPrice }}</div>
  </div>
  <div *ngIf="cart && cart.items.length === 0">
    <p>Your cart is empty.</p>
  </div>

<!-- <ul>
    <li *ngFor="let cartItem of cart.items">
        <!-- <div>
            <img [src] = "cartItem.product.imageUrl" [alt]="cartItem.product.name">
        </div> -->
        <!-- <div>
            <select #quantitySelect (change) = "changeQuantity(cartItem, quantitySelect.value)"></select>
        </div>
        <div>
            ${{cartItem.price}}
        </div>

        <div>
            <button class = "remove-button" (click)="removeFromCart(cartItem)">
                Remove
            </button>
        </div>
    </li>
</ul>

<div class="checkout">
    <div>
        <div class="product-count">{{cart.items.length}}</div>
        <div class="total-price">{{cart.totalPrice}}</div>
    </div>
</div> --> 