<div *ngIf="products && products.length > 0">
  <h2 class="product-heading">Yantang Commercial</h2>
  <div *ngFor="let product of products" class="product-block">
      <div class="product-info">
          <div class="name">{{ product.name }}</div>
          <div class="description">{{ product.description }}</div>
          <div class="price">Price: ${{ product.retail_price }}</div>
      </div>
      <div class="button-group">
          <button class="add-to-cart" *ngIf="!isAdmin" (click)="addToCart(product)">Add to Cart</button>
          <button class="add-to-watchlist" *ngIf="!isAdmin" (click)="addToWatchlist(product)">Add to WatchList</button>
      </div>
  </div>
</div>
<div *ngIf="products && products.length === 0">
  <p>No products available.</p>
</div>
