<div *ngIf="products && products.length > 0">
  <ul>
    <li *ngFor="let product of products">
      <div class="content">
        <div class="name-price">
          <div class="name">{{ product.name }}</div>
          <div class="price">Price: ${{ product.retail_price }}</div>
        </div>
        <button class="add-to-cart" (click)="addToCart(product)">Add to Cart</button>
        <button class="add-to-watchlist" (click)="addToWatchlist(product)">Add to WatchList</button>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="products && products.length === 0">
  <p>No products available.</p>
</div>


  
  
  
  