.product-heading {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-block {
  border: 1px solid #eeeeee;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #e6f7ff; /* light blue */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.product-block:hover {
  transform: scale(1.05);
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
  color: #555555;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  self-align: flex-end;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.add-to-cart, .add-to-watchlist {
  background-color: #f2f2f2;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
