.watchlist-heading {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-block {
  border: 1px solid #eeeeee;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #e6ffe6; /* light green */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.product-block:hover {
  transform: scale(1.05);
}

.product-info {
  margin-bottom: 1rem;
}

.remove-button {
  background-color: #f2f2f2;
  border: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: right;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
  color: #555555;
  margin-top: 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}
